body{
	background-color: whitesmoke;
	margin: 0px;
	background-image: url("../image/yobe.png");
	background-size: 50%;
	background-repeat: no-repeat;
	background-position: center top;
	background-attachment: fixed;
}
.row{
	width: 100%;
	float: left;
	color: green;
	background: ghostwhite;
}
.logo{
	width: 100%;
	float: left;
	background: none;
}
.logo img{
	width: 100px;
	float: left;
}
nav{
	background:green;
	color: #FFFFFF;
	padding-bottom: 1px;
	padding-top: 1px;
}
nav ul li{
	display: inline;
	margin-right: 6.5%;
}
nav ul li a{
	color: white;
	text-decoration: none;
	background-color: none;
}
nav ul li a:hover{
	width: 100%;
	height: 100%;
	color: green;
	text-decoration: none;
	 background: white;
}


h1{
	width: 100%;
	color: green;
	float: left;
	text-align: none;
	text-decoration: none;
	font-family: Times New Roman (Headins CS);
}
.content{
	width: 100%;
	text-align: left;
	color: green;
	font-family: Arial;
	background: ghostwhite;
}
.row-1{
	width: 100%;
	float: left;

}
.col-half{
	width: 40%;
	float: left;
	text-align: center;
	font-family: Arial;
	background: red;
	margin: 15px 50px 10px 70px;
	height: 50%;
   	box-shadow: 0 3px 3px rgba(8,10,6.10), 0 3px 4px rgba(0,0,0,0.15);
   	border-radius: 3%;

}
.col-half_2{
	width: 40%;
	float: left;
	text-align: center;
	font-family: Arial;
	background: #FF66FF;
	margin: 15px 50px 10px 70px;
	height: 50%;
   	box-shadow: 0 3px 3px rgba(8,10,6.10), 0 3px 4px rgba(0,0,0,0.15);
   	border-radius: 3%;
}
#users, span{
	font-size: 300%;
	float: left;
	margin: 15px;
	color: #C8C8C8;
}
#user, span-2{
	font-size: 300%;
	float: left;
	margin: 15px;
	color: #00CC00;
}

.vote-container{
	color: white;
	font-family: Times New Roman (Headins CS);
}
.vt{
	font-size: 250%;
}
.col-half-q{
	width: 89%;
	background: orange;
	align-items: center;
	float: left;
	text-align: center;
	margin-left: 5%;
}
.col-half-s{
	width: 89%;
	background: green;
	align-items: center;
	float: left;
	text-align: center;
	margin-left: 5%;
}
.hr{
	width: 89%;
	margin-left: 5%;

}
.col-half-tt{
	width: 42%;
	background: lightgrey;
	align-items: center;
	float: left;
	margin-bottom: 1%;
	text-align: center;
	margin-left: 5%;
}
.vote{
	width: 25%;
	border: 6px solid green;
	padding: none;
	border-radius: 6px;
	float: none;
	background-color: green;
	color: white;
	margin-left: 4px;
	margin-top: 2px;
	margin-bottom: 2px;
	box-shadow: 0 3px 3px rgba(8,10,6.10), 0 3px 4px rgba(0,0,0,0.15);
}
.can{
	width: 140px;
	border: 6px solid green;
	padding: 2px;
	border-radius: 6px;
	float: left;
	margin-left: 4px;
	margin-top: 2px;
	margin-bottom: 2px;
}
.head{
	color: white;
	font-size: 35px;
	font-family: Arial;
}
.info{
	color: green;
	font-size: 25px;
	font-family: Arial;
	float: left;
	margin-left: 10px;
	text-align: left;
}