body{
	background-color: whitesmoke;
	margin: 0px;
	background-size: 50%;
	background-repeat: no-repeat;
	background-position: center top;
	background-attachment: fixed;
}
.row{
	width: 100%;
	float: left;
	color: green;
	background: ghostwhite;
}
.logo{
	width: 100%;
	float: left;
	background: none;
}
.logo img{
	width: 100px;
	float: left;
}
nav{
	background: blue;
	color: #FFFFFF;
	padding-bottom: 1px;
	padding-top: 1px;
}
nav ul li{
	display: inline;
	margin-right: 6.5%;
}
nav ul li a{
	color: white;
	text-decoration: none;
	background-color: none;
}
nav ul li a:hover{
	width: 100%;
	height: 100%;
	color: blue;
	text-decoration: none;
	 background: white;
}


h1{
	width: 100%;
	color: blue;
	float: left;
	text-align: none;
	text-decoration: none;
	font-family: Times New Roman (Headins CS);
}
.row{
	width: 100%;
	float: left;
	color: blue;
	background: ghostwhite;
}
.logo{
	width: 100%;
	float: left;
	text-align: center;
	background: none;
}
.head{
	font-size: 200%;
	font-family: Times New Roman (Headins CS);
}
.full-col{
	width: 100%;
	background-color: none;
}
.two{
	width: 80%;
	margin-left: 10%;
	float: left;
	text-align: center;
	background: none;

}
.Back{
	width: 10%;
	float: left;
	padding: 0.5%;
	color: white;
	background: blue;
	font-size: 15px;
}
.edit{
	width: 10%;
	float: none;
	padding: 0.5%;
	color: white;
	background: blue;
	font-size: 15px;
}
.close{
	width: 10%;
	float: right;
	padding: 0.5%;
	color: white;
	background: blue;
	font-size: 15px;
}
.title{
	width: 100%;
	background: blue;
	color: white;
	font-size: 40px;
	font-weight: bold;
	text-transform: uppercase;
}
.post_body{
	font-size: 30px;
	font-family: areal;
	text-align: justify-all;
	text-align: left;

}
img{
	max-width: 50%;
	margin-top: 0.5%;
}